/*top_1头部*/
#top_1{height:92px;border-bottom:2px solid #bc0e31;}
.top_1{height:92px;}
.top_1 a:first-child{float:left;margin-top:20px;}
.top_1 a:last-child{float:right;margin-top:25px;}
/*main*/
.main{height:598px;}
.main_1{width:364px;height:513px;border:1px solid #d2d2ce;padding:25px 15px 0 20px;float:left;overflow:hidden;margin-top:20px;}
.main>a{float:right;}
.main_1>p:first-child{height:32px;border-bottom:1px solid #d2d2ce;}
.main_1>p:first-child>span{font-size:14px;color:#333;font-weight:900;float:left;}
.main_1>p:first-child>em{float:right;color:#0066cc;font-size:12px;font-style:normal;margin-top:16px;}
.main_1>form{font-size:12px;}
.main_1>form>p{margin-bottom:15px;}
.main_1>form>p>input{font-size:10px;color:#999;border:0;border:1px solid #9a9a9a;}
.main_1>form>p:first-child{margin-top:44px;}
.main_1>form>p:first-child>input{width:269px;height:38px;padding-left:10px;}
.main_1>form>p:nth-child(2)>input{width:165px;height:38px;padding-left:10px;}
.main_1>form>p:nth-child(2)>img{display:inline-block;}
.main_1>form>p:nth-child(3)>input{width:166px;height:38px;padding-left:10px;}
.main_1>form>p:nth-child(3)>button{width:100px;height:40px;background:#f45f03;font-size:12px;line-height:40px;text-align:center;color:#fff;border:0;}
.main_1>form>p:nth-child(4)>input{width:269px;height:38px;padding-left:10px;}
.main_1>form>p:nth-child(5)>input{width:270px;height:38px;padding-left:10px;}
.main_1>form>p:nth-child(6){padding-left:65px;height:16px;}
.main_1>form>p:nth-child(7){padding-left:65px;}
.main_1>form>p:nth-child(7)>span{margin-left:15px;color:#0066cc;}
.main_1>form>p:nth-child(8)>a{display:block;width:355px;height:43px;background:#bb0e30;line-height:43px;color:#fff;text-align:center;border:0;}
.main_1>form>p:nth-child(1){padding-left:12px;}
.main_1>form>p:nth-child(2){padding-left:24px;}
.main_1>form>p:nth-child(4){padding-left:36px;}
.main_1>form>p:nth-child(5){padding-left:12px;}
/*footer脚部*/
#footer1_2{height:136px;border-top:1px solid #ccc;}
.footer1_2{height:136px;}